@using Stock_Explorer.DTO

@model SearchCriteria
@{
    ViewData["Title"] = "Home Page";
    var alertString = TempData["alert"];
}


<div class="container">
    @if (alertString is not null)
    {
        @if (alertString.ToString() == "Something Wrong!")
        {
            <div class="bg-danger text-center m-2">
                <h2>class="text-white">@alertString</h2>
            </div>
        }

        else
        {
            <div class="bg-info text-center m-2">
                <h2 class="text-white">@alertString</h2>
            </div>

        }

    }
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="form-group col-md-4">
                <label class="text-white" asp-for="Name"></label>
                <textarea asp-for="Name" rows="4" class="form-control" placeholder="Search stock"></textarea>
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="text-white" asp-for="Date"></label>
                <textarea asp-for="Date" rows="4" class="form-control" placeholder="Date should be on format YYYY-MM-DD"></textarea>
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-group col-md-4 ">
                <button asp-area="" asp-controller="Home" asp-action="Search" class="btn-lg btn-warning m-2">Search</button>
                <button asp-area="" asp-controller="Home" asp-action="Check" class="btn-lg btn-primary m-4">Check</button>
                <button asp-area="" asp-controller="Home" asp-action="ShowStocks" class="btn-lg btn-info m-2">Show</button>
            </div>


        </div>
    </form>
</div>
