@model List<Stock>


<div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div> Name - Date - Low - High </div>
           <div> @item.Name - @item.Date - @item.Low - @item.High </div>
        </div>
    }
</div>